<!DOCTYPE">
<html>
	<head>
		<title>FireBase Test</title>
		<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	</head>
	
	<body>
	<body ng-app="myApp" ng-controller="todoCtrl">
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-brand ">Firebase v 3.0</div>
	</div>
		<div class="container">
				<h2>ToDo(s)</h2>
				<div class="jumbotron col-md-5">
				<form ng-submit="todoAdd()">
				<div class="form-group">
					<input class="form-control"	type="text" ng-model="todoInput">
					<br/>
					<p>
					<button class="btn btn-primary" type="submit" value="Add New">
					<span class= "glyphicon glyphicon-plus-sign"></span>
					</button>
					</p>
				</div>
				</form>
				</div>
				<div class="col-md-2"></div>
				<div class="jumbotron col-md-5">
				<div >
				<div ng-repeat="x in todoList">
					<input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
				</div>
				<br/>
				<p>
				<button class="btn btn-danger" ng-click="remove()">
				<span class="glyphicon glyphicon-remove-sign"></span>
				</button></p>
				</div>
		
	</div>	
	</body>
	<script src="app.js"></script>
</html>
